In [1]:
import pandas as pd

In [3]:
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")

In [5]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [10]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
test.dtypes

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [12]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [16]:
X = train[["Pclass", "SibSp", "Parch"]]
y = train[["Survived"]]

In [18]:
X

     Pclass  SibSp  Parch
0         3      1      0
1         1      1      0
2         3      0      0
3         1      1      0
4         3      0      0
..      ...    ...    ...
886       2      0      0
887       1      0      0
888       3      1      2
889       1      0      0
890       3      0      0

[891 rows x 3 columns]

In [19]:
y

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [22]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0)

In [28]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
knn.fit(X_train, y_train)

/Users/mikiya/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [29]:
knn.score(X_test, y_test)

0.6233183856502242

In [31]:
X_for_submit = test[["Pclass", "SibSp", "Parch"]]
submit = test[["PassengerId"]]
submit['Survived'] = knn.predict(X_for_submit)

submit

/Users/mikiya/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     PassengerId  Survived
0            892         0
1            893         1
2            894         1
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         0
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [33]:
submit.to_csv("submission/submit01.csv", index = False)

In [34]:
X = train[["Pclass", "SibSp", "Parch", "Sex"]]
y = train[["Survived"]]

In [36]:
X = pd.get_dummies(X, columns = ["Pclass",  "Sex"])
X

     SibSp  Parch  Pclass_1  Pclass_2  Pclass_3  Sex_female  Sex_male
0        1      0         0         0         1           0         1
1        1      0         1         0         0           1         0
2        0      0         0         0         1           1         0
3        1      0         1         0         0           1         0
4        0      0         0         0         1           0         1
..     ...    ...       ...       ...       ...         ...       ...
886      0      0         0         1         0           0         1
887      0      0         1         0         0           1         0
888      1      2         0         0         1           1         0
889      0      0         1         0         0           0         1
890      0      0         0         0         1           0         1

[891 rows x 7 columns]

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0)

knn = KNeighborsClassifier()
knn.fit(X_train, y_train)

knn.score(X_test, y_test)

/Users/mikiya/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

0.7802690582959642

In [39]:
X = train[["Pclass", "SibSp", "Parch", "Sex", "Fare"]]
y = train[["Survived"]]

In [40]:
X = pd.get_dummies(X, columns = ["Pclass",  "Sex"])
X

     SibSp  Parch     Fare  Pclass_1  Pclass_2  Pclass_3  Sex_female  Sex_male
0        1      0   7.2500         0         0         1           0         1
1        1      0  71.2833         1         0         0           1         0
2        0      0   7.9250         0         0         1           1         0
3        1      0  53.1000         1         0         0           1         0
4        0      0   8.0500         0         0         1           0         1
..     ...    ...      ...       ...       ...       ...         ...       ...
886      0      0  13.0000         0         1         0           0         1
887      0      0  30.0000         1         0         0           1         0
888      1      2  23.4500         0         0         1           1         0
889      0      0  30.0000         1         0         0           0         1
890      0      0   7.7500         0         0         1           0         1

[891 rows x 8 columns]

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0)

knn = KNeighborsClassifier()
knn.fit(X_train, y_train)

knn.score(X_test, y_test)

/Users/mikiya/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

0.7802690582959642

In [43]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

knn = KNeighborsClassifier()
knn.fit(X_train_scaled, y_train)

knn.score(X_test_scaled, y_test)

/Users/mikiya/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  # Remove the CWD from sys.path while we load stuff.

0.820627802690583

In [47]:
X_for_submit = test[["Pclass", "SibSp", "Parch", "Sex", "Fare"]]
submit = test[["PassengerId"]]

X_for_submit = pd.get_dummies(X_for_submit, columns = ["Pclass",  "Sex"])

X_for_submit['Fare'] = X_for_submit['Fare'].fillna(X_for_submit['Fare'].mean())

scaler = StandardScaler()
scaler.fit(X_for_submit)

X_for_submit_scaled = scaler.transform(X_for_submit)

submit['Survived'] = knn.predict(X_for_submit_scaled)
submit

/Users/mikiya/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [48]:
submit.to_csv("submission/submit02.csv", index = False)

In [72]:
X = train[["Pclass", "SibSp", "Parch", "Sex", "Fare"]]
y = train[["Survived"]]

X = pd.get_dummies(X, columns = ["Pclass",  "Sex"])

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0)

scaler = StandardScaler()
scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [73]:
from sklearn.svm import LinearSVC

svc = LinearSVC()
svc.fit(X_train_scaled, y_train)

svc.score(X_test_scaled, y_test)

/Users/mikiya/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/mikiya/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

0.7847533632286996

In [74]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
rf.fit(X_train_scaled, y_train)

rf.score(X_test_scaled, y_test)

/Users/mikiya/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

0.8295964125560538

In [75]:
from sklearn.ensemble import GradientBoostingClassifier

gbrt = GradientBoostingClassifier()
gbrt.fit(X_train_scaled, y_train)

gbrt.score(X_test_scaled, y_test)

/Users/mikiya/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8026905829596412

In [77]:
X_for_submit = test[["Pclass", "SibSp", "Parch", "Sex", "Fare"]]
submit = test[["PassengerId"]]

X_for_submit = pd.get_dummies(X_for_submit, columns = ["Pclass",  "Sex"])

X_for_submit['Fare'] = X_for_submit['Fare'].fillna(X_for_submit['Fare'].mean())

#scaler = StandardScaler()
#scaler.fit(X_for_submit)

X_for_submit_scaled = scaler.transform(X_for_submit)

submit['Survived'] = gbrt.predict(X_for_submit_scaled)
submit

/Users/mikiya/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [78]:
submit.to_csv("submission/submit03.csv", index = False)